<!DOCTYPE html>
<html>
<head>
    <title>MovieTicks - Ticket</title>
    <style type="text/css">
        .a1{
            
            width: 700px;
            margin: 70px;
            border: 2px solid black;
            
        }
        .a2{
            float: left;
            margin-top: 10px;
            margin-left: 20px;
            
            margin-bottom: 10px;
            
        }
        .a3{
            float: left;
            
            margin: 30px;
        }
        .a1 h1,h2,p{
            color: black;
        }
        .a1 table{
            margin: 15px;

        }
        .a1 table th
        {
            color: black!important;
        }
        .a1 p{
            font-size: large;
            font-weight: 550;
        }
        
        .a1 .table thead th {
            vertical-align: bottom;
            border-bottom: black;
        }

        .a1 .table-bordered td, .a1 .table-bordered th {
            border: 1px solid black;
        }

        .a1 .table td {
            font-weight: 700;
        }

        .a1 .table th {
            font-weight: 700;
            background: none;
        }

       

    </style>
    <script src="/html2canvas.min.js"></script>
    <script type="text/javascript" src="/jspdf.debug.js"></script>
    <script type="text/javascript">
        var div = document.querySelector("#a1");
        function generatePDF(){
            
            var download = "<%=download%>";
            if(download == "ok")
            {
                
            $(".a1").show();
            var x = <%=sess.extra_orders.length%>;
            var y = "<%=sess.ticket_status%>"
            if(x > 0)
            $(".table").show();

            if(y == "CONFIRMED")
                $('#status_color').css("color","green");
            else
                 $('#status_color').css("color","red");

            var imgData;
            html2canvas($("#a1"),{

                useCORS:true,
                onrendered:function(canvas){

                    imgData = canvas.toDataURL('image/png');

                    var doc = new jsPDF('p','pt','a4');

                    doc.addImage(imgData,'PNG',10,10);
                    doc.save('ticket.pdf');
                    //window.open(doc);
                    $(".a1").hide();
                    if(window.location.pathname == '/ticket')
                    window.location.replace("/my_bookings");
                }
            })

        }

        }

       
    </script>
</head>
<body>
<div class="container-fluid a1" id="a1" style="display: none;">
   <div class="row">
    <div class="a2">
        <img src="https://image.tmdb.org/t/p/w500/<%=sess.poster%>" style="height: 230px;"  alt="movie"  >
    </div>
    <div class="a3">
        <h1><%=sess.title%> &nbsp &nbsp <span id="status_color" style="font-size: 30px;"><%=sess.ticket_status%></span></h1>
        
        <p><%=sess.date%> &nbsp <%=sess.time%></p>
        <p>Amount paid : &#x20b9; <%=sess.total_price%>  &nbsp &nbsp &nbsp No.of.Seats :  <%=sess.price%></p>   
        <p><%=sess.theatre%> &nbsp, &nbsp &nbsp <%=sess.city%></p>
        <h2>Seats: <%=sess.seats%></h2>

    </div>
</div>
<<<<<<< HEAD



<div class="row">
    <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Seat</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <%

    for(i=0; i< sess.price; i++)
    {
        %>

        <tr>
            <td><%=i+1%></td>
            <td><%=sess.seats[i]%></td>

                <%
                 x = "cancelled"
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                 array2 = []
                 
                 if(sess.arr3 == undefined) 
                 array2 = arr3
                 else
                 array2 = sess.arr3


<<<<<<< HEAD
=======
                 if(ticket == undefined)
                   tlength = 0
                 else
                   tlength = ticket.length
>>>>>>> parent of ad18c00 (Update download_ticket.ejs)


<<<<<<< HEAD

                for(j=0;j< array2.length ; j++)
=======
=======

                

>>>>>>> parent of 7796967 (update)
                for(j=0;j< sess.arr3.length ; j++)
>>>>>>> parent of fbeaf88 (Update download_ticket.ejs)
=======
                 ticket = sess.arr3
                for(j=0;j< ticket.length ; j++)
>>>>>>> parent of d60db8d (Update download_ticket.ejs)
=======
                 ticket = sess.arr3

                 if(ticket == undefined)
                   tlength = 1
                 else
                   tlength = ticket.length

                for(j=0;j< tlength ; j++)
>>>>>>> parent of 453f578 (update)
=======
                for(j=0;j< sess.arr3.length ; j++)
>>>>>>> parent of 053117f (update)
=======
                for(j=0;j< arrlen ; j++)
>>>>>>> parent of 74d7016 (update)
                {
                    if(sess.seats[i] == sess.arr3[j])
                      x = "confirmed"
                }

                if(x == "confirmed")
                {
                    %>

                    <td style="color: green;">CONFIRMED</td>



                    <%
                }

                else
                {

                    %>

                    <td style="color: red;">CANCELLED</td>

                    <%
                }


                %>

        </tr>




        <%
    }
    %>
</tbody>
</table> 
</div>

























=======
>>>>>>> parent of d3151c9 (update)
<div class="row">
    <table class="table table-bordered table-hover" style="display: none;">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
 <%
 
count = sess.extra_orders.length
count = count/3
arr = []
arr = sess.extra_orders
for(i=0;i< count ;i++)
{

    j = i*3

    %>
     <tr>
      <th scope="row"><%=i+1%></th>
      <td><%=arr[j]%></td>
      <td><%=arr[j+1]%></td>
      <td>&#x20b9; <%=arr[j+2]%></td>
    </tr>

    <%
}
 %>
  </tbody>
</table>
</div>
</div>


</body>
</html>