<!DOCTYPE html>
<html>
<head>
    <title>MovieTicks - Ticket</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .a1{
            
            width: 700px;
            margin: 70px;
            border: 2px solid black;
            
        }
        .a2{
            float: left;
            margin-top: 10px;
            margin-left: 20px;
            
            margin-bottom: 10px;
            
        }
        .a3{
            float: left;
            
            margin: 30px;
        }
        .a1 h1,h2,p{
            color: black;
        }
        .a1 table{
            margin: 15px;
        }
        .a1 table th
        {
            color: black!important;
        }
        .a1 p{
            font-size: large;
            font-weight: 550;
        }
        
        .a1 .table thead th {
            vertical-align: bottom;
            border-bottom: black;
        }
        .a1 .table-bordered td, .a1 .table-bordered th {
            border: 1px solid black;
        }
        .a1 .table td {
            font-weight: 700;
        }
        .a1 .table th {
            font-weight: 700;
            background: none;
        }
       
    </style>
    <script src="/html2canvas.min.js"></script>
    <script type="text/javascript" src="/jspdf.debug.js"></script>
    <script type="text/javascript">
        var div = document.querySelector("#a1");
        function generatePDF(){
            
            var download = "<%=download%>";
            console.log(download)
            if(download == "ok")
            {
                
            $(".a1").show();
            var x = <%=sess.extra_orders.length%>;
            var y = "<%=sess.ticket_status%>"
            if(x > 0)
            $(".table").show();
            if(y == "CONFIRMED")
                $('#status_color').css("color","green");
            else
                 $('#status_color').css("color","red");
            var imgData;
            html2canvas($("#a1"),{
                useCORS:true,
                onrendered:function(canvas){
                    imgData = canvas.toDataURL('image/png');
                    var doc = new jsPDF('p','pt','a4');
                    doc.addImage(imgData,'PNG',10,10);
                    var res = doc.output('datauristring');
                    $(".a1").hide();
                    $('#form_data input.pdf_data').val(res);
                    $("#form_data input.pdf_data_submit" ).click();
                    
                }
            })
        }
        }
       
    </script>
</head>
<body onload="generatePDF();">
<div class="container-fluid a1" id="a1" style="display: none;">
   <div class="row">
    <div class="a2">
        <img src="https://image.tmdb.org/t/p/w500/<%=sess.poster%>" style="height: 230px;"  alt="movie"  >
    </div>
    <div class="a3">
        <h1><%=sess.title%> &nbsp &nbsp <span id="status_color" style="font-size: 30px;"><%=sess.ticket_status%></span></h1>
        
        <p><%=sess.date%> &nbsp <%=sess.time%></p>
        <p>Amount paid : &#x20b9; <%=sess.total_price%>  &nbsp &nbsp &nbsp No.of.Seats :  <%=sess.price%></p>   
        <p><%=sess.theatre%> &nbsp, &nbsp &nbsp <%=sess.city%></p>
        <h2>Seats: <%=sess.seats%></h2>

    </div>
</div>
<div class="row">
    <table class="table table-bordered table-hover" style="display: none;">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
 <%
 
count = sess.extra_orders.length
count = count/3
arr = []
arr = sess.extra_orders
for(i=0;i< count ;i++)
{
    j = i*3
    %>
     <tr>
      <th scope="row"><%=i+1%></th>
      <td><%=arr[j]%></td>
      <td><%=arr[j+1]%></td>
      <td>&#x20b9; <%=arr[j+2]%></td>
    </tr>
    <%
}
 %>
  </tbody>
</table>
</div>

<div id="form_data">
<form action="/mailsender" method="POST">
    <input type="hidden"  name="pdf_data" class="pdf_data" value="">
    <input type="submit" name="submit" class="pdf_data_submit">
</form>
</div>
</div>


</body>
</html>