<!DOCTYPE html>
<html lang="en">
<head>
      
      <title>MovieTicks - Movie Details</title>
      <link rel="stylesheet" href="/moviedetails/style1.css" media="screen">
      <link rel="stylesheet" href="/moviedetails/style2.css" media="screen">
      <script src="/jquery.js"></script>
      <style type="text/css">
        
      div.header.large.first {
        border-bottom: 1px solid var(--primaryColor);
        background-position: right -200px top;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('https://image.tmdb.org/t/p/w1920_and_h1080_multi_faces<%=poster2%>');
      }

      div.page_wrap{
      	margin-top: -30px;
      }
      
      footer{
        background-image: none;
      }

      footer section{
        display: block;
        opacity: 1;
      }

      div.scroller_wrap.should_fade:after {
      
      display: none;

   
      }




    






      </style>
     <script type="text/javascript">
       $(document).ready(function() {

        $(".play_trailer").click(function() {
          $("iframe").attr("src","https://www.youtube.com/embed/<%=videokey%>?autoplay=1&amp;origin=http%3A%2F%2Fwww.themoviedb.org&amp;hl=en&amp;modestbranding=1&amp;fs=1&amp;autohide=1");
        $("#videoplay").css("display", "block");
            
       })

        $(".k-i-close").click(function() {
          $("iframe").attr("src","");
          $("#videoplay").css("display", "none");
       })
      })
     </script>
</head>
<body>
  <div class="header-blue" style="height: 100%;">
            
            <%- include('../partials/header'); %>
      
  <div class="page_wrap movie_wrap">
<main id="main" class="smaller  subtle show_search_false">
  <section class="inner_content movie_content backdrop poster">
       
      <link rel="stylesheet" href="/moviedetails/style3.css" media="screen">  

<div class="header large border first">
  <div class="keyboard_s custom_bg">

    <div class="single_column">
      <section id="original_header" class="images inner">
        <div class="poster_wrapper false">
          <div class="poster">
  
    <div class="image_content backdrop">
  
      <img class="poster lazyload lazyloaded" src="https://image.tmdb.org/t/p/w500/<%=poster%>" data-loaded="true">
    
    </div>
  
  
</div>

          
        </div>

        <div class="header_poster_wrapper false">
          <section class="header poster">
            <div class="title ott_false" dir="auto">
  

  
    <h2 class="5">
      <a style="text-decoration: none;"><%=title%></a>
       <span class="tag release_date">(<%=year%>)</span>
    </h2>

    
      <div class="facts">
  

  
    
      <span class="certification">
        UA
      </span>
    

    
      <span class="release">
        <%=date%> (<%=country%>)
      </span>
    
  

  

  <span class="genres">
    <%
    for(i=0;i< genres.length;i++)
    {
      if(genres.length == 1 || i==0)
      {
      %>
      <a><%=genres[i]%></a>
      <%
    }
    else{
     %>
      <a>&nbsp;, <%=genres[i]%></a>
      <%
  }
    }
    %>
  </span>

  
    <span class="runtime">
       <%=runtime%>
    </span>
  
</div>
    

  
</div>
<ul class="auto actions">
	<%
  console.log(imdb_rating)
	if(imdb_rating !== "N/A" && typeof imdb_rating !== 'undefined')
	{
	%>
    <li class="chart">
      <div class="text">IMDB Rating &nbsp;</div>
      <div class="consensus details">
        <div class="outer_ring">
          <div class="user_score_chart" data-percent="" data-track-color="#666666" data-bar-color="#d4d4d4">
            <div class="percent">
              
                <span class="icon icon-r0"><%=imdb_rating%></span>
              
            </div>
          <canvas height="75" width="75" style="height: 60px; width: 60px;"></canvas></div>
        </div>
      </div>
    </li> 
    <%
   }
    %>
    <li> Language :  </li>
    <%
    for(i=0; i< language.length;i++)
    {
    %> 
       <li><%=language[i]%></li>

    <%
   }
    %>

    <a href="https://www.imdb.com/title/<%=imdb_id%>" style="padding-left: 20px; text-decoration: none;" target="_blank">Go to IMDB</a>

    <a class="no_click play_trailer" style="padding-left: 20px; text-decoration: none;" href="#" data-site="YouTube"  data-title="Play Trailer"><i class="fa fa-play"></i> Play Trailer</a>


</ul>

            <div class="header_info">
              
                <h3 class="tagline" dir="auto"><%=tagline%></h3>
              
              <h3 dir="auto">Overview</h3>
              <div class="overview" dir="auto">
                
                  <p><%=overview%></p>
                
              </div>

              <ol class="people no_image">
                
                  
                    <li class="profile">
                      <p><a href=""><%=director%></a></p>
                      <p class="character">Director</p>
                    </li>
                  
                    <li class="profile">
                      <p><a href=""><%=producer%></a></p>
                      <p class="character">Producer</p>
                    </li>
                  
                    <li class="profile">
                      <p><a href=""><%=editor%></a></p>
                      <p class="character">Editor</p>
                    </li>

                    <%

                    for(i=0;i<3;i++)
                    {
                      %>
                      <li class="profile">
                      <p><a href=""><%=cast[i]%></a></p>
                      <p class="character">Acting</p>
                      </li>
                      <%
                    }

                    %>
                  
                
              </ol>
            </div>
          </section>
        </div>
      </section>

      

    </div>
  </div>
</div> 
  </section>
</main>
    </div>
    <div class="container">
      <%
      console.log(sess.type)
      
        if(sess.type == "now")
        { 
          if(sess.email)
          {
      %>

 <a href="/booking/<%=mid%>" role="button" class="btn btn-primary btn-block" style="margin: 20px;">
  Book tickets for this movie
 </a> 

      <%
    }
    else{

    %>
          <a href="/login" role="button" class="btn btn-primary btn-block" style="margin: 20px;">
  Login to Book tickets for this movie
 </a> 

    <%
  }
  }

    else if(sess.type == "up")
    {
       %>

 <a href="#" role="button" class="btn btn-primary btn-block" style="margin: 20px;">
  Booking for this movie opens on  <%=date2%>
 </a> 

      <%
    }
  
    
	 
 %>
</div>
<br><br>

    <section class="panel media_panel media scroller">
            <button class="btn btn-primary " style="margin: 30px; font-size: 30px;">Trailers</button>
            <style type="text/css">
              .glyphicons_v2.play {
    background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-175-play-806cb05551791b8dedd7f8d38fd3bd806e2d397fcfeaa00a5cc9129f0819fd07.svg");
}
            </style>
              
              <div id="media_scroller" class="scroller_wrap should_fade is_fading">
                <div class="h_scroller content scroller">
                    
     <div class="video card no_border">
      <div class="wrapper" style="background-image: url('https://i.ytimg.com/vi/<%=videokey%>/hqdefault.jpg');">
        <a  class="no_click play_trailer" ><div class="play_background"><span class="glyphicons_v2 play invert svg" style="cursor: pointer;"></span></div></a>
      </div>
    </div>
                </div>
              </div>
            
          </section>











<div id="videoplay" style="display: none;">
  <div class="k-widget k-window k-display-inline-flex" tabindex="0" style="min-width: 90px; min-height: 50px; width: 1093px; height: 677px; display: none; top: 22.5px; left: 221.5px; background-color: rgb(0, 0, 0); border-color: rgb(0, 0, 0); position: fixed; z-index: 10004; opacity: 1;"><div class="k-window-titlebar" style="background-color: rgb(0, 0, 0); border-color: rgb(0, 0, 0); color: rgb(255, 255, 255);"><span class="k-window-title" id="video_popup_wnd_title">Trailer</span><div class="k-window-actions"><a role="button" href="#" class="k-button k-flat k-button-icon k-window-action" aria-label="Close"><span class="k-icon k-i-close"></span></a></div></div><div id="video_popup" data-role="window" class="k-window-content" style="display: block; padding: 0px; margin: 0px; background-color: rgb(0, 0, 0);" role="dialog" aria-labelledby="video_popup_wnd_title">

  
    <meta charset="utf-8">
    <style>
      body.trailer_iframe { background-color: #000; padding: 0; margin: 0; overflow: hidden; }
      iframe { background-color: #000; overflow: hidden; }
    </style>
  
  
    
      <iframe type="text/html"  style="background-color: #000;" width="1093" height="614"  frameborder="0" allowfullscreen=""></iframe>
    
  
</div></div>
</div>
   
<br><br><br><br>
<%- include('../partials/footer'); %>
</div>
 </body>
 </html>
