<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieTicks - ticket-details</title>

    <script type="text/javascript" src="/bootstrap/js/jquery.js"></script>

    <style type="text/css">
        p,.table-bordered td, .table-bordered th{
            font-weight: 600;
        }

        .foods{
            margin-left: 30px;
        }
          
        @media (max-width: 575.98px) { 

            .foods{
            margin-left:  0px;
           }

            img{
                margin-left: 75px!important;
            }
        
            .content1{
                margin-left: 75px!important;
            }
         
           #no_seats::before{

                content: "\a";
                white-space: pre;
           }


         }  

         .thank-you-pop{
    width:100%;
    padding:20px;
    text-align:center;
}
.thank-you-pop img{
    width:76px;
    height:auto;
    margin:0 auto;
    display:block;
    margin-bottom:25px;
}

.thank-you-pop h1{
    font-size: 42px;
    margin-bottom: 25px;
    color:#5C5C5C;
}
.thank-you-pop p{
    font-size: 20px;
    margin-bottom: 27px;
    color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
    font-size: 25px;
    margin-bottom: 40px;
    color:#222;
    display:inline-block;
    text-align:center;
    padding:10px 20px;
    border:2px dashed #222;
    clear:both;
    font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
    color:#03A9F4;
}
.thank-you-pop a{
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
    margin-right:5px;
    color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
th,td{
    text-align: center!important;
  }
        
    </style>

    <script type="text/javascript">
        
         $(document).ready(function(){
        

            var x = <%=sess.extra_orders.length%>;
            var y = "<%=sess.ticket_status%>"
            if(x > 0)
            $(".table").show();

            if(y == "CONFIRMED")
            {
                $('#status_color').css("color","green");
                $(".add_remove").show();
            }
            else
                 $('#status_color').css("color","red");


             $('.sub_remove').submit(function (e) {
        
        if (!$('.form-check-input').is(':checked')) {
            
            e.preventDefault();
        }
    })
      
       $( "input.form-check-input" ).click(function() {

      if ($('input.form-check-input').is(':checked') > 0 )
        $('button.sub_remove').prop('disabled', false);

      else
        $('button.sub_remove').prop('disabled', true);


        })
        


         })

    </script>    

</head>
<body>
<div class="header-blue">
            
            <%- include('../partials/header'); %>

<div class="container">
    <div class="row"  style=" background-color: whitesmoke;">
        <br><br>
    </div>
   <div class="row"  style=" background-color: whitesmoke;">
   
  <div class="offset-md-1">
    <img src="https://image.tmdb.org/t/p/w500/<%=sess.poster%>" style="height: 300px;"  alt="movie"  >
  </div>

  <div class="offset-md-2 content1">
        <h1><%=sess.title%> &nbsp &nbsp <span id="status_color" style="font-size: 30px;"><%=sess.ticket_status%></span></h1>
        
        <p><%=sess.date%> &nbsp <%=sess.time%></p>
        <p>Amount paid : &#x20b9; <%=sess.total_price%>  &nbsp &nbsp &nbsp <span id="no_seats" >No.of.Seats :  <%=sess.price%></span>  </p>   
        <p><%=sess.theatre%> &nbsp, &nbsp &nbsp <%=sess.city%></p>
        <h2>Seats: <%=sess.seats%></h2></span>

        


        
        <%
         
         
         today_date = new Date()
         date_of_show2 = new Date(date_of_show2)

         console.log(date_of_show2,today_date)

        if(date_of_show2 > today_date)
        {

            %>

            <h2 class="add_remove" style="display: none;"><span><a role="button" type="button"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="color: white;">Remove Seats</a></span></h2>





            <%
        }
        
       %>
  </div>
  
</div>


<div class="row" style=" background-color: whitesmoke;">
	<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Seat</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  	<%

  	for(i=0; i< sess.price; i++)
  	{
  		%>

  		<tr>
  			<td><%=i+1%></td>
  			<td><%=sess.seats[i]%></td>

  				<%
  				 x = "cancelled"
  				for(j=0;j< arr3.length ; j++)
  				{
  					if(sess.seats[i] == arr3[j])
  					  x = "confirmed"
  				}

  				if(x == "confirmed")
  				{
  					%>

  					<td style="color: green;">CONFIRMED</td>



  					<%
  				}

  				else
  				{

  					%>

  					<td style="color: red;">CANCELLED</td>

  					<%
  			    }


  				%>

  		</tr>




  		<%
  	}
  	%>
</tbody>
</table> 
</div>



<div class="row"  style=" background-color: whitesmoke;">
        <br><br>
    </div>
<div class="row" style=" background-color: white;">
    <table class="table table-bordered table-hover" style="display: none;">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      
    </tr>
  </thead>
  <tbody>
 <%
 
count = sess.extra_orders.length
count = count/3
arr = []
arr = sess.extra_orders
for(i=0;i< count ;i++)
{

    j = i*3

    %>
     <tr>
      <th scope="row"><%=i+1%></th>
      <td><%=arr[j]%></td>
      <td><%=arr[j+1]%></td>
      <td>&#x20b9; <%=arr[j+2]%></td>
      
    </tr>

    <%
}
 %>
  </tbody>
</table>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <form action="/seats_del" method="POST">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Seats to remove</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table table-bordered table-hover">
            <thead>
              <tr>

                <th scope="col">Select</th>
                <th scope="col">seats</th>
                <th scope="col">Price</th>
                
              </tr>
            </thead>
            <tbody>
          
          <%

          if(sess.cancelled_seats !== undefined)
                {
                      console.log("not undefined")
                      for(i=0; i< arr3.length ; i++)
                      {
                        %>
                        <tr>
                         <td>
                
                  <div class="form-check form-check-inline">

                    <input class="form-check-input" name="seats_del" type="checkbox" id="inlineCheckbox1" value="<%=arr3[i]%>">
                    
                  </div>
               
                  
                </td>
                    <td><%=arr3[i]%></td>
                    <td>Rs. 250</td>
                  </tr>
                        <%
                        

                      }

                    
                
              }
          
           
          else
          {
           
            for(i=0; i< sess.price; i++)
            {
              %>

              <tr>
                  
                <td>
                
                  <div class="form-check form-check-inline">

                    <input class="form-check-input" name="seats_del" type="checkbox" id="inlineCheckbox1" value="<%=sess.seats[i]%>">
                    
                  </div>
               
                  
                </td>

                <td><%=sess.seats[i]%></td>
                <td>Rs. 250</td>

                
              </tr>
          

              <%
            }

          }
             
             

           %>


            </tbody>
        </table>
        
      </div>
      <input type="hidden" name="date_of_booking" value="<%=date_of_booking%>">
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary sub_remove" disabled>Remove Seats</button>
      </div>
       </form>
    </div>
  </div>
</div>





















              
</div>
     <%- include('../partials/footer'); %>   
</body>
</html>
